<%= render 'layouts/errors', :object => @product %>

<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :artist %>
    <%= f.text_field :artist, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_area :image, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, {class: "form-control"} %>
  </div>
  <br>
  <br>
  <p><%= f.submit nil, {class: "btn btn-default"} %></p>
<% end %>
